<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)Includes\OmnipasteVariables.wxi ?>

  <Fragment>
    <CustomAction Id='AssignCustomActionDataForUnistallClickOnce'
                  Property='UninstallClickOnce'
                  Value='ProductName=$(var.ProductName);PublisherName=$(var.ManufacturerName)'/>

    <CustomAction Id='UninstallClickOnce'
                  BinaryKey='InstallerCustomActions'
                  DllEntry='UninstallClickOnce'
                  Return='check'
                  Execute='commit'/>

    <CustomAction Id='SetUninstallSettingsData' Property='RemoveApplicationSettingsFolder' Value='[APPLICATIONSETTINGSFOLDER]' />

    <CustomAction Id="PrepareNetFrameworkDownload" Property="WixShellExecTarget" Value="http://www.microsoft.com/en-us/download/confirmation.aspx?id=30653" />
    <CustomAction Id="LaunchBrowser" BinaryKey="WixCA" DllEntry="WixShellExec" Execute="immediate" Return="ignore" />
    
    <CustomAction Id='SetStartAppArguments' BinaryKey='InstallerCustomActions' DllEntry='SetStartArguments' Return='check'/>
    
    <CustomAction Id='SetAppToStart' Property='APPLICATIONTOSTART' Value='[INSTALLFOLDER]$(var.ExeProcessName)'/>
    
    <CustomAction Id='LaunchApplication' Property='APPLICATIONTOSTART' ExeCommand='[STARTAPPARGUMENTS]' Return='asyncNoWait' />

    <CustomAction Id="setUI_RAN" Property="UI_RAN" Value="1" />
  </Fragment>
</Wix>