<appSettings>
  <add key="AppName" value="Omnipaste" />

  <add key="BaseUrl" value="https://api.omnipasteapp.com/api/v1" />
  <add key="OmniSyncUrl" value="wss://sync.omnipasteapp.com"/>
  <add key="ClientId" value="53c698956170691717020000"/>
  
  <add key="BugfreakApiKey" value="2537eed2-36fd-4d9c-9ca9-54db031126fd" />
  <add key="BugfreakToken" value="52374935c14de33568000010" />

  <add key="NewAuthorizationCodeUrl" value="https://www.omnipasteapp.com/authorization_codes/new"/>

  <add key="UpdateSource" value="https://omnipaste.blob.core.windows.net/release/OmnipasteInstaller.msi"/>
</appSettings>
