<appSettings>
  <add key="AppName" value="Omnipaste" />

  <add key="BaseUrl" value="https://www.omnipasteapp.com/" />
  <add key="OmniSyncUrl" value="ws://192.168.26.154:3001"/>
  <add key="ClientId" value="todo"/>
  
  <add key="BugfreakApiKey" value="2537eed2-36fd-4d9c-9ca9-54db031126fd" />
  <add key="BugfreakToken" value="52374935c14de33568000010" />
</appSettings>
