<appSettings>
  <add key="AppName" value="Omnipaste-staging" />

  <add key="BaseUrl" value="https://apistaging.omnipasteapp.com/api/v1" />
  <add key="OmniSyncUrl" value="wss://syncstaging.omnipasteapp.com"/>
  <add key="ClientId" value="536205666170694ddc000000"/>
  
  <add key="BugFreakApiKey" value="2537eed2-36fd-4d9c-9ca9-54db031126fd" />
  <add key="BugFreakToken" value="5237484cc14de34f5500000a" />

  <add key="NewAuthorizationCodeUrl" value="https://webstaging.omnipasteapp.com/authorization_codes/new"/>

  <add key="UpdateSource" value="https://omnipaste.blob.core.windows.net/staging/OmnipasteInstaller.msi"/>
</appSettings>