<appSettings>
  <add key="BaseUrl" value="https://apistaging.omnipasteapp.com/api/v1" />
  <add key="OmniSyncUrl" value="wss://syncstaging.omnipasteapp.com"/>
  <add key="appName" value="Omnipaste-staging" />
  <add key="BugFreakApiKey" value="2537eed2-36fd-4d9c-9ca9-54db031126fd" />
  <add key="BugFreakToken" value="5237484cc14de34f5500000a" />
  <add key="client_id" value="536205666170694ddc000000"/>
</appSettings>