<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BaseUrl>https://omnipaste.blob.core.windows.net/staging</BaseUrl>
  <Cleanup>true</Cleanup>
  <CompareDate>false</CompareDate>
  <CompareHash>false</CompareHash>
  <CompareSize>false</CompareSize>
  <CompareVersion>true</CompareVersion>
  <CopyFiles>true</CopyFiles>
  <FeedXml>output\FeedBuilder.xml</FeedXml>
  <IgnoreDebugSymbols>true</IgnoreDebugSymbols>
  <IgnoreFiles />
  <IgnoreVsHosting>true</IgnoreVsHosting>
  <OutputFolder>..\..\Code\Installer\OmnipasteInstaller\Packages\en-us</OutputFolder>
</Settings>