<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="publish-key" value="pub-c-430d1843-f9d8-4b6f-b6a2-ab56b07ec015"/>
    <add key="subscribe-key" value="sub-c-0e52a788-8308-11e2-9881-12313f022c90"/>
    <add key="secret-key" value="sec-c-NmQyMWZkZTMtZDFlZC00OTU3LTg3YjQtNGIxNTU0YWYwMDQ2"/>
  </appSettings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727" sku="Client"/></startup>
</configuration>
