<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp9F4E2E33B6C3D2FCEC75F95B181A43B7" Guid="{31F54CA6-C69B-4213-AD48-B16B8824A95C}">
                <File Id="fil3D841E6C45D5530A25C618243FDFCA00" KeyPath="yes" Source="$(var.SourceDir)\BugFreak.WPF.dll" />
            </Component>
            <Component Id="cmpF6DB600EAE4F92B06118C49F01583429" Guid="{99D5CB47-17EE-4866-9CED-27C99849A457}">
                <File Id="fil58D641A69C1F9F9B3767F37A52968AEA" KeyPath="yes" Source="$(var.SourceDir)\Caliburn.Micro.dll" />
            </Component>
            <Component Id="cmp1C206319B53EA02514D73AF8086C62B4" Guid="{3B0F8A76-1C7E-4205-A94F-4C002FA9B221}">
                <File Id="filA7E995C50EC209623795FDBA9E10F3FA" KeyPath="yes" Source="$(var.SourceDir)\Caliburn.Micro.Platform.dll" />
            </Component>
            <Component Id="cmp7CC2A6AC4220DAC7231BB5E9C94B83A4" Guid="{DFFDAE71-0B60-48D0-8F30-2F318B2AB687}">
                <File Id="fil28C4D02BAEC848ED4EF2F5CC9892E41E" KeyPath="yes" Source="$(var.SourceDir)\Castle.Core.dll" />
            </Component>
            <Component Id="cmpAE410A0E4569D9660B8F351AD657F82C" Guid="{627FAEDF-B807-4AD8-B1D1-C6513234B143}">
                <File Id="fil3CF4D17623F5E5DEBC5144A8D392F88E" KeyPath="yes" Source="$(var.SourceDir)\Clipboard.dll" />
            </Component>
            <Component Id="cmpDAC625D715BB5659019014AE2EB66BCB" Guid="{C7B22799-5993-445F-B47E-B0324225F0D9}">
                <File Id="fil36539CC20259D95F3C1147FF6199FDC4" KeyPath="yes" Source="$(var.SourceDir)\Clipboard.dll.config" />
            </Component>
            <Component Id="cmp7C9D7ECB8AA42F8F89FFDA128508D39E" Guid="{DB07FBD7-FDD9-4104-B312-5024EB1D501F}">
                <File Id="fil537261B9AB04F5C0A27396309F4EA107" KeyPath="yes" Source="$(var.SourceDir)\Common.Logging.Core.dll" />
            </Component>
            <Component Id="cmp9A43E102AF3BB1132A1BFC19DE76A3FC" Guid="{447375A7-9950-4A1D-85BB-FEEBB2F9B4F4}">
                <File Id="fil853AF5DEE27D9E6DE9571768394FAA21" KeyPath="yes" Source="$(var.SourceDir)\CustomizedClickOnce.Common.dll" />
            </Component>
            <Component Id="cmp5BA8556C64E04413844357CD6EC66AC4" Guid="{5D8EDFD5-0062-42DD-8318-D456C0921147}">
                <File Id="filA34D8364FFAB2D6A612207697D0BF4E7" KeyPath="yes" Source="$(var.SourceDir)\Events.dll" />
            </Component>
            <Component Id="cmp2A2C9783E53BCCCF093EFE336687B52A" Guid="{124E9E10-3B5D-4D84-A7D0-8F5B08825338}">
                <File Id="filE7CB29113342F982952DDD7800A6531D" KeyPath="yes" Source="$(var.SourceDir)\Events.dll.config" />
            </Component>
            <Component Id="cmp1D8EBD56149BEA467ACD7EBCEABB06C9" Guid="{8A2DD740-9CC7-43F0-9A5D-8B0B4B083F99}">
                <File Id="fil389DF57852DF25C0CA835BC54B6450F4" KeyPath="yes" Source="$(var.SourceDir)\Fleck.dll" />
            </Component>
            <Component Id="cmpBE3C1D05C7C90455322C9F819A57A07A" Guid="{393030AC-3ED6-4620-A83E-DEE563909DE8}">
                <File Id="filE7C602A91344AD969255F20A2CA7411A" KeyPath="yes" Source="$(var.SourceDir)\Hardcodet.Wpf.TaskbarNotification.dll" />
            </Component>
            <Component Id="cmp223D4754378C01052DA8253A843FD297" Guid="{3C71E501-0A25-4B5B-9831-66BB51688179}">
                <File Id="filBC562C5B3D9848A2114F0AF7275FF1E6" KeyPath="yes" Source="$(var.SourceDir)\MahApps.Metro.dll" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="{6DD27916-99A2-4C3D-9309-36B38B9CAAC6}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.SourceDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpDA60982F820038280380BE207B6E738E" Guid="{14741A19-7E2E-43B9-9009-30FEFBF55C3E}">
                <File Id="filFB25B5D44CA54D4D876DD0B5BC0DA0E0" KeyPath="yes" Source="$(var.SourceDir)\Ninject.dll" />
            </Component>
            <Component Id="cmp115DB0C4CBA276D1E4BF73C7F0D12168" Guid="{562E75D4-2CB4-4E68-ACCF-42F4ADC3F7F3}">
                <File Id="fil9864AE07D5BAA41F302A315D151D206B" KeyPath="yes" Source="$(var.SourceDir)\Ninject.Extensions.Conventions.dll" />
            </Component>
            <Component Id="cmp88F17F914107BDE9053F284BD7EF2B2E" Guid="{72BD94F0-4816-473C-9E91-4285DFA33713}">
                <File Id="fil59E9266E1BB93DB551EC7B1FF481D5AD" KeyPath="yes" Source="$(var.SourceDir)\Omni.dll" />
            </Component>
            <Component Id="cmpEFBB9FC6B5C6C8D79CEBBC38E086A201" Guid="{CEA247AB-017F-4588-A0C3-25D7B755825D}">
                <File Id="filBFE9A1E784176EBA7C89CC51C4351B4D" KeyPath="yes" Source="$(var.SourceDir)\Omni.dll.config" />
            </Component>
            <Component Id="cmp3F9B243DD5F909CB27F90C49E9886149" Guid="{D9307A4F-7BC8-4CCD-8B3F-7000D42CB029}">
                <File Id="fil71729F95E9CC57D0B9A46B60DB258606" KeyPath="yes" Source="$(var.SourceDir)\OmniApi.dll" />
            </Component>
            <Component Id="cmp4B441D016580DC6825EBF1D04BB172B1" Guid="{48828A34-B6A3-403C-B307-701CAFC229B6}">
                <File Id="fil2895AA012B9AC09B633070828402B550" KeyPath="yes" Source="$(var.SourceDir)\OmniApi.dll.config" />
            </Component>
            <Component Id="cmp4B28BD5D57605475942431AD0179D09B" Guid="{8ED21B65-19E9-4225-B931-46F16DAE05DA}">
                <File Id="fil26AC4E4978E7ECEE64E9881C4F5208F7" KeyPath="yes" Source="$(var.SourceDir)\OmniCommon.dll" />
            </Component>
            <Component Id="cmp90EDD1F7A0BE4297230019C4CC9404A6" Guid="{7B1156C7-257D-436A-AA60-C08F2CFB2041}">
                <File Id="filFBBD7BD284AB481ECDC42840EDD6BFEA" KeyPath="yes" Source="$(var.SourceDir)\OmniCommon.dll.config" />
            </Component>
            <Component Id="cmpA84567FC0D37226D4451B4670A433A82" Guid="{837CA2DF-6F06-4FEA-B74F-91BF418DD4F3}">
                <File Id="fil1B78597FDD6E0533CD27C983033E9418" KeyPath="yes" Source="$(var.SourceDir)\Omnipaste.application" />
            </Component>
            <Component Id="cmpFE2172EB7277D3A5A75F19FF21FD9A52" Guid="{9D89F208-51A7-45B3-90BC-9047AA341087}">
                <File Id="fil88C665165687C41E856B68FFE7F48A24" KeyPath="yes" Source="$(var.SourceDir)\Omnipaste.exe" />
            </Component>
            <Component Id="cmp145371AC61D554D2B43EA8110B952DEE" Guid="{1D4A587A-4407-4F6E-8466-D7C61CDF8FB4}">
                <File Id="fil20BA1D23511A6F814E003982502893D1" KeyPath="yes" Source="$(var.SourceDir)\Omnipaste.exe.config" />
            </Component>
            <Component Id="cmpF8FB377B4E972F1E8DD5A8B368BDA9B7" Guid="{F4059442-C3D6-4BC2-B158-69E30B0F5382}">
                <File Id="fil71323BAAF21727245CE7E51A129B917B" KeyPath="yes" Source="$(var.SourceDir)\Omnipaste.exe.manifest" />
            </Component>
            <Component Id="cmp0F8ED40E01D534FB647806DF2F85F47A" Guid="{733B719F-4638-412A-97BD-CCAC821C1D63}">
                <File Id="filE7B28455E715CE990CB1713F9238BF60" KeyPath="yes" Source="$(var.SourceDir)\Omnipaste.vshost.exe" />
            </Component>
            <Component Id="cmpA89183F73BC19D215A101CC80504EA45" Guid="{FFE72100-20C3-41FC-92E0-5628E5DF8C94}">
                <File Id="fil34F8516BAAFF06CCCC6B089454580401" KeyPath="yes" Source="$(var.SourceDir)\Omnipaste.vshost.exe.config" />
            </Component>
            <Component Id="cmpDFF78B0DFB3A4855567C5CEC5FAEF702" Guid="{F3901E33-90A1-4902-BD33-D90C31CC0301}">
                <File Id="filC428D4502AC0A2A828A5BE4887C59241" KeyPath="yes" Source="$(var.SourceDir)\OmniSync.dll" />
            </Component>
            <Component Id="cmpF1F1F4EF238C22F507FAA8FF688C3176" Guid="{D2C9EEB2-5FDE-4407-B548-90EAE5D9C8C8}">
                <File Id="fil98AD24BC96A4C3298139E35D364B745F" KeyPath="yes" Source="$(var.SourceDir)\OmniSync.dll.config" />
            </Component>
            <Component Id="cmpC21AA27F7370D526A73374451C6B9AFC" Guid="{CFA3B02E-FE7D-436E-A523-1CF8D6585785}">
                <File Id="fil2A7B38F666B16E4F48B2F4BA024706C6" KeyPath="yes" Source="$(var.SourceDir)\Refit-Portable.dll" />
            </Component>
            <Component Id="cmpDE8327C316FA30A3BB5A0C373C1B0C11" Guid="{71E2A75D-0669-494B-A682-CD6A01A299E8}">
                <File Id="fil8CE785F798A4483C829DFE1E50DBEAE5" KeyPath="yes" Source="$(var.SourceDir)\Refit.dll" />
            </Component>
            <Component Id="cmp969F6EDF2594F3809D7A716387BF8894" Guid="{BF8DA6F8-1178-4F62-97A5-6DECA20F851F}">
                <File Id="fil60E3CB228DB7CBE488269EDFC1321CC6" KeyPath="yes" Source="$(var.SourceDir)\System.Collections.Immutable.dll" />
            </Component>
            <Component Id="cmp33A2E0CDCB2457FD07A5EB7CD43D89DA" Guid="{07A4EB9E-7C79-41C5-A4E7-E977B29991D7}">
                <File Id="fil846A953AFF86FEE17DA23C0C138E1A63" KeyPath="yes" Source="$(var.SourceDir)\System.Reactive.Core.dll" />
            </Component>
            <Component Id="cmpE39668959EEE73724DCF95607C11909E" Guid="{AF5AE3D5-5A8C-4EF3-8B11-84FF9981979D}">
                <File Id="fil089FEF1B09CE2D4674666B7E9AF34C95" KeyPath="yes" Source="$(var.SourceDir)\System.Reactive.Interfaces.dll" />
            </Component>
            <Component Id="cmpCBA72DF99C219D453FAFC3E749DA1F01" Guid="{01D0ED75-4B78-41C8-A6EC-9A8928F8E59C}">
                <File Id="fil95A058622AFC42820C25EF2E63A647E8" KeyPath="yes" Source="$(var.SourceDir)\System.Reactive.Linq.dll" />
            </Component>
            <Component Id="cmp1BC932B8353CD8372E8E42D3CA6CBB11" Guid="{4B2CC8FB-EB73-4646-BFC2-598E5CA9848E}">
                <File Id="fil6E825004F8F872DFE6F7A33919E147A0" KeyPath="yes" Source="$(var.SourceDir)\System.Reactive.PlatformServices.dll" />
            </Component>
            <Component Id="cmpB0A4A020B6E209A3532877A7C50F4A33" Guid="{33448660-6446-490A-8CEE-F9E2D0C5EF19}">
                <File Id="filDE09E0C59EB4975EDC62B899105EE797" KeyPath="yes" Source="$(var.SourceDir)\System.Reactive.Windows.Threading.dll" />
            </Component>
            <Component Id="cmp017BFB3832A5B110A2B3A350E13F2A5C" Guid="{CAE80106-8685-433A-8286-77EE3D559669}">
                <File Id="fil17E34524E8398461D615894C92558FE9" KeyPath="yes" Source="$(var.SourceDir)\System.Windows.Interactivity.dll" />
            </Component>
            <Component Id="cmp6F35EDCA0F7AABDFAFBD262AA2E080F2" Guid="{DD033264-2C2A-4C76-B816-266C2A663D1F}">
                <File Id="fil91BB7E5BB069222AEC45A2AD05812AF9" KeyPath="yes" Source="$(var.SourceDir)\WampSharp.Default.dll" />
            </Component>
            <Component Id="cmp2F2B19F7282D6462864315D60116EF5C" Guid="{31D23DE9-15EC-4F25-B8EF-2829649B2307}">
                <File Id="fil2BCD43EAE15B086ED8875E3BE53EBCC5" KeyPath="yes" Source="$(var.SourceDir)\WampSharp.dll" />
            </Component>
            <Component Id="cmp8F05B7249E8F5435FA819D11F229C4D4" Guid="{879AB647-6E98-473E-9DFC-C04F953904CD}">
                <File Id="fil55D6443EE4CCA9B4C4E03A128C2D6CD7" KeyPath="yes" Source="$(var.SourceDir)\WebSocket4Net.dll" />
            </Component>
            <Component Id="cmp4361A173ABD8D781B26D94D0DFE5759B" Guid="{CD8BFE82-50B6-4007-BEB9-B6977DA2F402}">
                <File Id="fil6E90DE4CD0ABC83C4AE766224DDE2E38" KeyPath="yes" Source="$(var.SourceDir)\WindowsImports.dll" />
            </Component>
            <Directory Id="dir79A95A9D9A8BBC7BEDB8AEB6A4C30817" Name="Settings">
                <Component Id="cmp774BB978839E1129EBF1DEE684F0ADAA" Guid="{23EA60E9-D9F6-4A8B-A468-285D2BF0EDA3}">
                    <File Id="fil2D71B6343542EDCE3E29C8EFDA748CA9" KeyPath="yes" Source="$(var.SourceDir)\Settings\debug.config" />
                </Component>
                <Component Id="cmp13259B201E5731FD5A19A1A9F4B70895" Guid="{D50000C8-CBBF-4F8A-A164-5DE343E71A01}">
                    <File Id="fil7F018E9920A80D9237473CAF3662B1F4" KeyPath="yes" Source="$(var.SourceDir)\Settings\release.config" />
                </Component>
                <Component Id="cmp368B6C6861E60049C87760E4DEB6CC49" Guid="{27A3B26B-0F11-47EC-8C03-AFEEBE9A37D3}">
                    <File Id="filF8C7D6EF84F89DB880719473E95AEC0F" KeyPath="yes" Source="$(var.SourceDir)\Settings\staging.config" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="OmnipasteFiles">
            <ComponentRef Id="cmp9F4E2E33B6C3D2FCEC75F95B181A43B7" />
            <ComponentRef Id="cmpF6DB600EAE4F92B06118C49F01583429" />
            <ComponentRef Id="cmp1C206319B53EA02514D73AF8086C62B4" />
            <ComponentRef Id="cmp7CC2A6AC4220DAC7231BB5E9C94B83A4" />
            <ComponentRef Id="cmpAE410A0E4569D9660B8F351AD657F82C" />
            <ComponentRef Id="cmpDAC625D715BB5659019014AE2EB66BCB" />
            <ComponentRef Id="cmp7C9D7ECB8AA42F8F89FFDA128508D39E" />
            <ComponentRef Id="cmp9A43E102AF3BB1132A1BFC19DE76A3FC" />
            <ComponentRef Id="cmp5BA8556C64E04413844357CD6EC66AC4" />
            <ComponentRef Id="cmp2A2C9783E53BCCCF093EFE336687B52A" />
            <ComponentRef Id="cmp1D8EBD56149BEA467ACD7EBCEABB06C9" />
            <ComponentRef Id="cmpBE3C1D05C7C90455322C9F819A57A07A" />
            <ComponentRef Id="cmp223D4754378C01052DA8253A843FD297" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmpDA60982F820038280380BE207B6E738E" />
            <ComponentRef Id="cmp115DB0C4CBA276D1E4BF73C7F0D12168" />
            <ComponentRef Id="cmp88F17F914107BDE9053F284BD7EF2B2E" />
            <ComponentRef Id="cmpEFBB9FC6B5C6C8D79CEBBC38E086A201" />
            <ComponentRef Id="cmp3F9B243DD5F909CB27F90C49E9886149" />
            <ComponentRef Id="cmp4B441D016580DC6825EBF1D04BB172B1" />
            <ComponentRef Id="cmp4B28BD5D57605475942431AD0179D09B" />
            <ComponentRef Id="cmp90EDD1F7A0BE4297230019C4CC9404A6" />
            <ComponentRef Id="cmpA84567FC0D37226D4451B4670A433A82" />
            <ComponentRef Id="cmpFE2172EB7277D3A5A75F19FF21FD9A52" />
            <ComponentRef Id="cmp145371AC61D554D2B43EA8110B952DEE" />
            <ComponentRef Id="cmpF8FB377B4E972F1E8DD5A8B368BDA9B7" />
            <ComponentRef Id="cmp0F8ED40E01D534FB647806DF2F85F47A" />
            <ComponentRef Id="cmpA89183F73BC19D215A101CC80504EA45" />
            <ComponentRef Id="cmpDFF78B0DFB3A4855567C5CEC5FAEF702" />
            <ComponentRef Id="cmpF1F1F4EF238C22F507FAA8FF688C3176" />
            <ComponentRef Id="cmpC21AA27F7370D526A73374451C6B9AFC" />
            <ComponentRef Id="cmpDE8327C316FA30A3BB5A0C373C1B0C11" />
            <ComponentRef Id="cmp969F6EDF2594F3809D7A716387BF8894" />
            <ComponentRef Id="cmp33A2E0CDCB2457FD07A5EB7CD43D89DA" />
            <ComponentRef Id="cmpE39668959EEE73724DCF95607C11909E" />
            <ComponentRef Id="cmpCBA72DF99C219D453FAFC3E749DA1F01" />
            <ComponentRef Id="cmp1BC932B8353CD8372E8E42D3CA6CBB11" />
            <ComponentRef Id="cmpB0A4A020B6E209A3532877A7C50F4A33" />
            <ComponentRef Id="cmp017BFB3832A5B110A2B3A350E13F2A5C" />
            <ComponentRef Id="cmp6F35EDCA0F7AABDFAFBD262AA2E080F2" />
            <ComponentRef Id="cmp2F2B19F7282D6462864315D60116EF5C" />
            <ComponentRef Id="cmp8F05B7249E8F5435FA819D11F229C4D4" />
            <ComponentRef Id="cmp4361A173ABD8D781B26D94D0DFE5759B" />
            <ComponentRef Id="cmp774BB978839E1129EBF1DEE684F0ADAA" />
            <ComponentRef Id="cmp13259B201E5731FD5A19A1A9F4B70895" />
            <ComponentRef Id="cmp368B6C6861E60049C87760E4DEB6CC49" />
        </ComponentGroup>
    </Fragment>
</Wix>