<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp9F4E2E33B6C3D2FCEC75F95B181A43B7" Guid="{492A7E2A-391E-42BF-A1F7-44A0FF766C7A}">
                <File Id="fil3D841E6C45D5530A25C618243FDFCA00" KeyPath="yes" Source="$(var.SourceDir)\BugFreak.WPF.dll" />
            </Component>
            <Component Id="cmpF6DB600EAE4F92B06118C49F01583429" Guid="{CF1C17A2-9B7E-4818-8DEF-AB1707543C67}">
                <File Id="fil58D641A69C1F9F9B3767F37A52968AEA" KeyPath="yes" Source="$(var.SourceDir)\Caliburn.Micro.dll" />
            </Component>
            <Component Id="cmp1C206319B53EA02514D73AF8086C62B4" Guid="{979452C8-A112-4DF1-9096-5A45AA7BD4D3}">
                <File Id="filA7E995C50EC209623795FDBA9E10F3FA" KeyPath="yes" Source="$(var.SourceDir)\Caliburn.Micro.Platform.dll" />
            </Component>
            <Component Id="cmp7CC2A6AC4220DAC7231BB5E9C94B83A4" Guid="{9E4EA7FC-6539-415A-A7BA-9029A697B55F}">
                <File Id="fil28C4D02BAEC848ED4EF2F5CC9892E41E" KeyPath="yes" Source="$(var.SourceDir)\Castle.Core.dll" />
            </Component>
            <Component Id="cmpAE410A0E4569D9660B8F351AD657F82C" Guid="{328F548B-B8D4-42D5-B1D6-175E7CD57A19}">
                <File Id="fil3CF4D17623F5E5DEBC5144A8D392F88E" KeyPath="yes" Source="$(var.SourceDir)\Clipboard.dll" />
            </Component>
            <Component Id="cmpDAC625D715BB5659019014AE2EB66BCB" Guid="{3371140D-5BC2-4346-BD26-EAF5E64F696E}">
                <File Id="fil36539CC20259D95F3C1147FF6199FDC4" KeyPath="yes" Source="$(var.SourceDir)\Clipboard.dll.config" />
            </Component>
            <Component Id="cmp7C9D7ECB8AA42F8F89FFDA128508D39E" Guid="{4E185D1C-A081-4925-9D76-9BBC32A98CBE}">
                <File Id="fil537261B9AB04F5C0A27396309F4EA107" KeyPath="yes" Source="$(var.SourceDir)\Common.Logging.Core.dll" />
            </Component>
            <Component Id="cmp9A43E102AF3BB1132A1BFC19DE76A3FC" Guid="{03A97BB5-5AAF-4FB9-A4DB-20B0165A17A9}">
                <File Id="fil853AF5DEE27D9E6DE9571768394FAA21" KeyPath="yes" Source="$(var.SourceDir)\CustomizedClickOnce.Common.dll" />
            </Component>
            <Component Id="cmp5BA8556C64E04413844357CD6EC66AC4" Guid="{E84ED83F-3E1F-4F85-8B4E-C07322D93C8D}">
                <File Id="filA34D8364FFAB2D6A612207697D0BF4E7" KeyPath="yes" Source="$(var.SourceDir)\Events.dll" />
            </Component>
            <Component Id="cmp2A2C9783E53BCCCF093EFE336687B52A" Guid="{3212B951-0B5F-4A44-A64A-AB7DE0D13DBC}">
                <File Id="filE7CB29113342F982952DDD7800A6531D" KeyPath="yes" Source="$(var.SourceDir)\Events.dll.config" />
            </Component>
            <Component Id="cmp1D8EBD56149BEA467ACD7EBCEABB06C9" Guid="{84F10AEC-825F-4967-B92C-7C4156070FBB}">
                <File Id="fil389DF57852DF25C0CA835BC54B6450F4" KeyPath="yes" Source="$(var.SourceDir)\Fleck.dll" />
            </Component>
            <Component Id="cmpBE3C1D05C7C90455322C9F819A57A07A" Guid="{097C2DFC-4412-4E67-979D-D4004D775C79}">
                <File Id="filE7C602A91344AD969255F20A2CA7411A" KeyPath="yes" Source="$(var.SourceDir)\Hardcodet.Wpf.TaskbarNotification.dll" />
            </Component>
            <Component Id="cmp223D4754378C01052DA8253A843FD297" Guid="{1E2D792C-8F1A-444B-9912-C8564AF8AAF8}">
                <File Id="filBC562C5B3D9848A2114F0AF7275FF1E6" KeyPath="yes" Source="$(var.SourceDir)\MahApps.Metro.dll" />
            </Component>
            <Component Id="cmp3949728EA9840BC34724197B368334AC" Guid="{226D1C11-6693-42DF-B072-B52067005291}">
                <File Id="filDEA4341F561E3B7A80B31531A2FA0E17" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Deployment.WindowsInstaller.dll" />
            </Component>
            <Component Id="cmp920B8CCD98E888EF3F12ADF7E119C815" Guid="{D8101B5E-7C5F-4689-9574-CC040A8CE0B7}">
                <File Id="fil609CEB3D11D3348D4877BCDDF25E2C0D" KeyPath="yes" Source="$(var.SourceDir)\NAppUpdate.Framework.dll" />
            </Component>
            <Component Id="cmpB3CE7217998D34D02CA41016F5617949" Guid="{9793232F-B285-413A-A40B-928D5CB72843}">
                <File Id="fil8F93ADB635DE4442094636C838EB6C68" KeyPath="yes" Source="$(var.SourceDir)\NDesk.Options.dll" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="{2C27BAA7-7B20-4438-A5FB-6C0AC72A16EA}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.SourceDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpDA60982F820038280380BE207B6E738E" Guid="{108E7296-FB88-4F04-AA77-37BEA92C7797}">
                <File Id="filFB25B5D44CA54D4D876DD0B5BC0DA0E0" KeyPath="yes" Source="$(var.SourceDir)\Ninject.dll" />
            </Component>
            <Component Id="cmp115DB0C4CBA276D1E4BF73C7F0D12168" Guid="{A6C7CAE7-2596-4792-B51E-B96CAAA66B93}">
                <File Id="fil9864AE07D5BAA41F302A315D151D206B" KeyPath="yes" Source="$(var.SourceDir)\Ninject.Extensions.Conventions.dll" />
            </Component>
            <Component Id="cmp88F17F914107BDE9053F284BD7EF2B2E" Guid="{015D8D1F-5DB9-4D42-BE7B-5623293ED819}">
                <File Id="fil59E9266E1BB93DB551EC7B1FF481D5AD" KeyPath="yes" Source="$(var.SourceDir)\Omni.dll" />
            </Component>
            <Component Id="cmpEFBB9FC6B5C6C8D79CEBBC38E086A201" Guid="{C147885A-069B-4DCA-B075-97849359A461}">
                <File Id="filBFE9A1E784176EBA7C89CC51C4351B4D" KeyPath="yes" Source="$(var.SourceDir)\Omni.dll.config" />
            </Component>
            <Component Id="cmp3F9B243DD5F909CB27F90C49E9886149" Guid="{2BB815F9-4A94-4AC6-ABF6-A4B2CAA7AE23}">
                <File Id="fil71729F95E9CC57D0B9A46B60DB258606" KeyPath="yes" Source="$(var.SourceDir)\OmniApi.dll" />
            </Component>
            <Component Id="cmp4B441D016580DC6825EBF1D04BB172B1" Guid="{AF675BD6-B23B-42A0-B2CC-0FC993740CDD}">
                <File Id="fil2895AA012B9AC09B633070828402B550" KeyPath="yes" Source="$(var.SourceDir)\OmniApi.dll.config" />
            </Component>
            <Component Id="cmp4B28BD5D57605475942431AD0179D09B" Guid="{C102110C-332A-47C6-A805-3EB593C1E7F4}">
                <File Id="fil26AC4E4978E7ECEE64E9881C4F5208F7" KeyPath="yes" Source="$(var.SourceDir)\OmniCommon.dll" />
            </Component>
            <Component Id="cmp90EDD1F7A0BE4297230019C4CC9404A6" Guid="{AAF40B46-A720-4E20-8EDB-1901C92B23EE}">
                <File Id="filFBBD7BD284AB481ECDC42840EDD6BFEA" KeyPath="yes" Source="$(var.SourceDir)\OmniCommon.dll.config" />
            </Component>
            <Component Id="cmpBA5DD38DEC230AB01F009D82C4FF6EA0" Guid="{63B68D05-6ED6-4CE5-86E4-A2067E8E7874}">
                <File Id="fil248008DD144BB20AB8F01720EF1E98A0" KeyPath="yes" Source="$(var.SourceDir)\OmniDebug.dll" />
            </Component>
            <Component Id="cmp25CB390F9F81EFE5996556289C7E85A6" Guid="{2B1DC13C-A6E4-479A-881A-621D558B1597}">
                <File Id="fil15F27703645F85040B92B1D97ECC9F53" KeyPath="yes" Source="$(var.SourceDir)\OmniDebug.dll.config" />
            </Component>
            <Component Id="cmpA84567FC0D37226D4451B4670A433A82" Guid="{3F523740-F405-49ED-817C-DF2DE8DCD990}">
                <File Id="fil1B78597FDD6E0533CD27C983033E9418" KeyPath="yes" Source="$(var.SourceDir)\Omnipaste.application" />
            </Component>
            <Component Id="cmpFE2172EB7277D3A5A75F19FF21FD9A52" Guid="{4FB03C33-E273-49B8-92D3-CFE713244F60}">
                <File Id="fil88C665165687C41E856B68FFE7F48A24" KeyPath="yes" Source="$(var.SourceDir)\Omnipaste.exe" />
            </Component>
            <Component Id="cmp145371AC61D554D2B43EA8110B952DEE" Guid="{84C12183-BF16-46B2-A51D-C126D9CF4027}">
                <File Id="fil20BA1D23511A6F814E003982502893D1" KeyPath="yes" Source="$(var.SourceDir)\Omnipaste.exe.config" />
            </Component>
            <Component Id="cmpF8FB377B4E972F1E8DD5A8B368BDA9B7" Guid="{95146A6F-1DA1-426B-B991-9DBEF9C51C21}">
                <File Id="fil71323BAAF21727245CE7E51A129B917B" KeyPath="yes" Source="$(var.SourceDir)\Omnipaste.exe.manifest" />
            </Component>
            <Component Id="cmpDFF78B0DFB3A4855567C5CEC5FAEF702" Guid="{6A4F3A34-1128-4E35-A42A-73B6D3D67ED7}">
                <File Id="filC428D4502AC0A2A828A5BE4887C59241" KeyPath="yes" Source="$(var.SourceDir)\OmniSync.dll" />
            </Component>
            <Component Id="cmpF1F1F4EF238C22F507FAA8FF688C3176" Guid="{796401D7-0535-4CF2-BC65-339AAAB0C01F}">
                <File Id="fil98AD24BC96A4C3298139E35D364B745F" KeyPath="yes" Source="$(var.SourceDir)\OmniSync.dll.config" />
            </Component>
            <Component Id="cmp02E7A62305DE7EC9C80D8363C681A45C" Guid="{E85CA205-DC7B-4A31-82BC-EAF5A62B4AA6}">
                <File Id="fil4B8B92C8D242B05D482D4BA19CB0FB8E" KeyPath="yes" Source="$(var.SourceDir)\OmniUI.dll" />
            </Component>
            <Component Id="cmpC21AA27F7370D526A73374451C6B9AFC" Guid="{7ADFCEC3-41EB-4DC2-870B-4B96248ABBAE}">
                <File Id="fil2A7B38F666B16E4F48B2F4BA024706C6" KeyPath="yes" Source="$(var.SourceDir)\Refit-Portable.dll" />
            </Component>
            <Component Id="cmpDE8327C316FA30A3BB5A0C373C1B0C11" Guid="{5734C2B8-2ED9-4745-8A5E-580D969932BF}">
                <File Id="fil8CE785F798A4483C829DFE1E50DBEAE5" KeyPath="yes" Source="$(var.SourceDir)\Refit.dll" />
            </Component>
            <Component Id="cmp969F6EDF2594F3809D7A716387BF8894" Guid="{F3EDD01B-DE33-4BC4-97BA-155168EAAC3C}">
                <File Id="fil60E3CB228DB7CBE488269EDFC1321CC6" KeyPath="yes" Source="$(var.SourceDir)\System.Collections.Immutable.dll" />
            </Component>
            <Component Id="cmp33A2E0CDCB2457FD07A5EB7CD43D89DA" Guid="{FE933991-BCF6-4DA6-9D53-06EB061AE1F7}">
                <File Id="fil846A953AFF86FEE17DA23C0C138E1A63" KeyPath="yes" Source="$(var.SourceDir)\System.Reactive.Core.dll" />
            </Component>
            <Component Id="cmpE39668959EEE73724DCF95607C11909E" Guid="{1EF1C12B-7D22-4120-9C21-202A5288D18C}">
                <File Id="fil089FEF1B09CE2D4674666B7E9AF34C95" KeyPath="yes" Source="$(var.SourceDir)\System.Reactive.Interfaces.dll" />
            </Component>
            <Component Id="cmpCBA72DF99C219D453FAFC3E749DA1F01" Guid="{5750EEB9-7E1E-44F4-B498-12568E2F5029}">
                <File Id="fil95A058622AFC42820C25EF2E63A647E8" KeyPath="yes" Source="$(var.SourceDir)\System.Reactive.Linq.dll" />
            </Component>
            <Component Id="cmp1BC932B8353CD8372E8E42D3CA6CBB11" Guid="{51ACDA91-3112-4586-BA80-F7F971FF82B1}">
                <File Id="fil6E825004F8F872DFE6F7A33919E147A0" KeyPath="yes" Source="$(var.SourceDir)\System.Reactive.PlatformServices.dll" />
            </Component>
            <Component Id="cmpB0A4A020B6E209A3532877A7C50F4A33" Guid="{F53CE55F-4019-41F4-8452-8C4B9787BF06}">
                <File Id="filDE09E0C59EB4975EDC62B899105EE797" KeyPath="yes" Source="$(var.SourceDir)\System.Reactive.Windows.Threading.dll" />
            </Component>
            <Component Id="cmp017BFB3832A5B110A2B3A350E13F2A5C" Guid="{F9243725-735C-4816-AE4E-AB28B306B50C}">
                <File Id="fil17E34524E8398461D615894C92558FE9" KeyPath="yes" Source="$(var.SourceDir)\System.Windows.Interactivity.dll" />
            </Component>
            <Component Id="cmp6F35EDCA0F7AABDFAFBD262AA2E080F2" Guid="{F0745726-0761-4097-A51B-C4D042136057}">
                <File Id="fil91BB7E5BB069222AEC45A2AD05812AF9" KeyPath="yes" Source="$(var.SourceDir)\WampSharp.Default.dll" />
            </Component>
            <Component Id="cmp2F2B19F7282D6462864315D60116EF5C" Guid="{A37B82CB-E76F-4882-B3F3-7654F077A287}">
                <File Id="fil2BCD43EAE15B086ED8875E3BE53EBCC5" KeyPath="yes" Source="$(var.SourceDir)\WampSharp.dll" />
            </Component>
            <Component Id="cmp8F05B7249E8F5435FA819D11F229C4D4" Guid="{9C839988-4C90-467B-B67C-A95757A12A56}">
                <File Id="fil55D6443EE4CCA9B4C4E03A128C2D6CD7" KeyPath="yes" Source="$(var.SourceDir)\WebSocket4Net.dll" />
            </Component>
            <Component Id="cmp4361A173ABD8D781B26D94D0DFE5759B" Guid="{653955C2-F031-4BDD-B58B-AC5B1CB37BAD}">
                <File Id="fil6E90DE4CD0ABC83C4AE766224DDE2E38" KeyPath="yes" Source="$(var.SourceDir)\WindowsImports.dll" />
            </Component>
            <Directory Id="dir8606A94F8723F2ACAF42032E593433C7" Name="pt">
                <Component Id="cmp309902E7B4BC03E3E53E612BE5D097F1" Guid="{8E445307-F39C-4354-8EA6-282291F55189}">
                    <File Id="fil2C4EB4AB01F76399FD0FCE81696CC50D" KeyPath="yes" Source="$(var.SourceDir)\pt\OmniDebug.resources.dll" />
                </Component>
                <Component Id="cmp813C4A896BADD9122504FB2FA0FF8AA7" Guid="{52CA3E42-585B-4193-BABC-EC1A98FCC360}">
                    <File Id="filDF699CBC3EFCC870BD763A5179400BEF" KeyPath="yes" Source="$(var.SourceDir)\pt\Omnipaste.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir79A95A9D9A8BBC7BEDB8AEB6A4C30817" Name="Settings">
                <Component Id="cmp774BB978839E1129EBF1DEE684F0ADAA" Guid="{5043B56C-6678-49C5-854D-DC5A213B6C6F}">
                    <File Id="fil2D71B6343542EDCE3E29C8EFDA748CA9" KeyPath="yes" Source="$(var.SourceDir)\Settings\debug.config" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="OmnipasteFiles">
            <ComponentRef Id="cmp9F4E2E33B6C3D2FCEC75F95B181A43B7" />
            <ComponentRef Id="cmpF6DB600EAE4F92B06118C49F01583429" />
            <ComponentRef Id="cmp1C206319B53EA02514D73AF8086C62B4" />
            <ComponentRef Id="cmp7CC2A6AC4220DAC7231BB5E9C94B83A4" />
            <ComponentRef Id="cmpAE410A0E4569D9660B8F351AD657F82C" />
            <ComponentRef Id="cmpDAC625D715BB5659019014AE2EB66BCB" />
            <ComponentRef Id="cmp7C9D7ECB8AA42F8F89FFDA128508D39E" />
            <ComponentRef Id="cmp9A43E102AF3BB1132A1BFC19DE76A3FC" />
            <ComponentRef Id="cmp5BA8556C64E04413844357CD6EC66AC4" />
            <ComponentRef Id="cmp2A2C9783E53BCCCF093EFE336687B52A" />
            <ComponentRef Id="cmp1D8EBD56149BEA467ACD7EBCEABB06C9" />
            <ComponentRef Id="cmpBE3C1D05C7C90455322C9F819A57A07A" />
            <ComponentRef Id="cmp223D4754378C01052DA8253A843FD297" />
            <ComponentRef Id="cmp3949728EA9840BC34724197B368334AC" />
            <ComponentRef Id="cmp920B8CCD98E888EF3F12ADF7E119C815" />
            <ComponentRef Id="cmpB3CE7217998D34D02CA41016F5617949" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmpDA60982F820038280380BE207B6E738E" />
            <ComponentRef Id="cmp115DB0C4CBA276D1E4BF73C7F0D12168" />
            <ComponentRef Id="cmp88F17F914107BDE9053F284BD7EF2B2E" />
            <ComponentRef Id="cmpEFBB9FC6B5C6C8D79CEBBC38E086A201" />
            <ComponentRef Id="cmp3F9B243DD5F909CB27F90C49E9886149" />
            <ComponentRef Id="cmp4B441D016580DC6825EBF1D04BB172B1" />
            <ComponentRef Id="cmp4B28BD5D57605475942431AD0179D09B" />
            <ComponentRef Id="cmp90EDD1F7A0BE4297230019C4CC9404A6" />
            <ComponentRef Id="cmpBA5DD38DEC230AB01F009D82C4FF6EA0" />
            <ComponentRef Id="cmp25CB390F9F81EFE5996556289C7E85A6" />
            <ComponentRef Id="cmpA84567FC0D37226D4451B4670A433A82" />
            <ComponentRef Id="cmpFE2172EB7277D3A5A75F19FF21FD9A52" />
            <ComponentRef Id="cmp145371AC61D554D2B43EA8110B952DEE" />
            <ComponentRef Id="cmpF8FB377B4E972F1E8DD5A8B368BDA9B7" />
            <ComponentRef Id="cmpDFF78B0DFB3A4855567C5CEC5FAEF702" />
            <ComponentRef Id="cmpF1F1F4EF238C22F507FAA8FF688C3176" />
            <ComponentRef Id="cmp02E7A62305DE7EC9C80D8363C681A45C" />
            <ComponentRef Id="cmpC21AA27F7370D526A73374451C6B9AFC" />
            <ComponentRef Id="cmpDE8327C316FA30A3BB5A0C373C1B0C11" />
            <ComponentRef Id="cmp969F6EDF2594F3809D7A716387BF8894" />
            <ComponentRef Id="cmp33A2E0CDCB2457FD07A5EB7CD43D89DA" />
            <ComponentRef Id="cmpE39668959EEE73724DCF95607C11909E" />
            <ComponentRef Id="cmpCBA72DF99C219D453FAFC3E749DA1F01" />
            <ComponentRef Id="cmp1BC932B8353CD8372E8E42D3CA6CBB11" />
            <ComponentRef Id="cmpB0A4A020B6E209A3532877A7C50F4A33" />
            <ComponentRef Id="cmp017BFB3832A5B110A2B3A350E13F2A5C" />
            <ComponentRef Id="cmp6F35EDCA0F7AABDFAFBD262AA2E080F2" />
            <ComponentRef Id="cmp2F2B19F7282D6462864315D60116EF5C" />
            <ComponentRef Id="cmp8F05B7249E8F5435FA819D11F229C4D4" />
            <ComponentRef Id="cmp4361A173ABD8D781B26D94D0DFE5759B" />
            <ComponentRef Id="cmp309902E7B4BC03E3E53E612BE5D097F1" />
            <ComponentRef Id="cmp813C4A896BADD9122504FB2FA0FF8AA7" />
            <ComponentRef Id="cmp774BB978839E1129EBF1DEE684F0ADAA" />
        </ComponentGroup>
    </Fragment>
</Wix>