<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)Includes\OmnipasteVariables.wxi ?>
  
	<Fragment>
    <DirectoryRef Id="ApplicationStartMenuFolder">
      <Component Id="ApplicationShortcuts">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="$(var.ProductName)"
                  Description="!(loc.Description)"
                  Target="[INSTALLFOLDER]$(var.ExeProcessName)"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RegistryValue Root="HKCU"
               Key="$(var.RegistryRootKey)"
               Name="installed"
               Type="integer"
               Value="1"
               KeyPath="yes"/>
        <RemoveFolder Id="ApplicationStartMenuFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>
	</Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationStartMenuFolder">
      <Component Id="ApplicationStartupEntry">
        <Condition>IS_CLEAN_INSTALL OR EXISTING_STARTUP_SHORTCUT</Condition>
        <RegistryValue Root="HKCU"
                       Key="Software\Microsoft\Windows\CurrentVersion\Run"
                       Name="$(var.ProductName)"
                       Value="&quot;[INSTALLFOLDER]$(var.ExeProcessName)&quot; -minimized"
                       Type="string"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>