<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include $(sys.CURRENTDIR)Includes\OmnipasteVariables.wxi ?>
  
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="CleanupMainApplicationFolder">
        <RegistryValue Root='HKCU' Key='$(var.RegistryRootKey)'
               Name='InstallLocation' Value='[INSTALLFOLDER]'
               Type='string' KeyPath='yes'/>
        <util:RemoveFolderEx On="uninstall" Property="INSTALLFOLDER" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>