<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net35-Client" />
  <package id="Ninject" version="3.0.2-unstable-9" targetFramework="net35-Client" />
  <package id="Ninject.Extensions.Conventions" version="3.0.2-unstable-3" targetFramework="net35-Client" />
  <package id="RestSharp" version="104.1" targetFramework="net35-Client" />
  <package id="SlowCheetah" version="2.5.5" targetFramework="net35-Client" />
  <package id="System.Threading.Tasks" version="3.0.2-beta2" targetFramework="net35-Client" />
</packages>