<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <BugFreak>
    <add key="ServiceEndpoint" value="http://errors.omnipasteapp.com/v1/api/errors"/>
    <add key="ApiKey" value="5a4499b9-9095-41e7-b357-0c4574610101"/>
    <add key="Token" value="51fa9f161017e3e84c000009"/>
  </BugFreak>

  <appSettings file="settings\staging.config" xdt:Transform="SetAttributes(file)"/>
</configuration>