<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BugFreak" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>

  <BugFreak>
    <add key="ServiceEndpoint" value="http://errors.omnipasteapp.com/v1/api/errors"/>
    <add key="ApiKey" value="5a4499b9-9095-41e7-b357-0c4574610101"/>
    <add key="Token" value="51fbb6df1017e3e84c000015"/>
  </BugFreak>
  
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
    <supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v4.0.30319" sku=".NETFramework,Version=v4.0,Profile=Client" />
    <supportedRuntime version="v4.0.30319" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="PubnubMessaging.LogLevel" value="1" />
    <add key="PubnubMessaging.LogMessageLengthLimit" value="0" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="pubnubListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="pubnub-messaging.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="30" />
    </connectionManagement>
  </system.net>
</configuration>
