<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BugFreak" version="1.0.1.0" targetFramework="net40-Client" />
  <package id="BugFreak.WPF" version="1.0.1.2" targetFramework="net40-Client" />
  <package id="Caliburn.Micro" version="1.5.2" targetFramework="net40-Client" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net40-Client" />
  <package id="Ninject" version="3.0.2-unstable-9051" targetFramework="net40-Client" />
  <package id="ninject.extensions.conventions" version="3.0.2-unstable-9012" targetFramework="net40-Client" />
  <package id="RestSharpSigned" version="104.1" targetFramework="net40-Client" />
  <package id="SlowCheetah" version="2.5.10.3" targetFramework="net40-Client" />
  <package id="Wpf.Themes" version="1.1.0" targetFramework="net40-Client" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net40-Client" />
</packages>