<appSettings>
  <add key="baseUrl" value="http://192.168.26.130:9293/api/v1/" />
  <add key="appName" value="Omnipaste-debug" />
  <add key="clippingResource" value="clippings"/>
  <add key="BugFreakApiKey" value="2537eed2-36fd-4d9c-9ca9-54db031126fd"/>
  <add key="BugFreakToken" value="5237492ec14de3fc0900000e"/>
  <add key="OmniSyncUrl" value="wss://syncstaging.omnipasteapp.com"/>
  <add key="client_id" value="5342b0b9616469b350000000"/>
</appSettings>
