<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include $(sys.CURRENTDIR)Includes\OmnipasteVariables.wxi ?>
  
	<Product Id="*" Name="$(var.ProductName) $(var.VersionNumber)" Language="!(loc.LANG)" Version="$(var.VersionNumber)" Manufacturer="$(var.ManufacturerName)" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

    <MediaTemplate EmbedCab="yes" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of Omnipaste is already installed." />

    <Property Id="START_MINIMIZED">false</Property>

    <Property Id="DOTNETVERSION45FULL" Secure="yes">
      <RegistrySearch Id="DotNet45Full" Root="HKLM" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full" Name="Version" Type="raw" />
    </Property>

    <Icon Id="Icon.ico" SourceFile="$(var.ResourcesDir)\Icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="Icon.ico" />
    
    <Property Id="ALLUSERS" Secure="yes" Value="2"/>
    <Property Id="MSIINSTALLPERUSER" Secure="yes" Value="1" />

    <Property Id='INSTALLFOLDER'>
      <RegistrySearch Id='InstallLocationKey' Root='HKCU'
                      Key='$(var.RegistryRootKey)'
                      Name='InstallLocation' Type='raw'/>
    </Property>
    <Property Id='APPLICATIONSETTINGSFOLDER'>
      <RegistrySearch Id='ApplicationSettingsFolderKey' Root='HKCU'
                      Key='$(var.RegistryRootKey)'
                      Name='SettingsLocation' Type='raw'/>
    </Property>
    
    <Property Id='EXISTING_STARTUP_SHORTCUT'>
      <RegistrySearch Id='StartupShortcutSearch' Root="HKCU"
               Key="Software\Microsoft\Windows\CurrentVersion\Run"
               Name="$(var.ProductName)"
               Type="raw"/>
    </Property>

    <util:CloseApplication Id="CloseApplication"
                       Target="$(var.ExeProcessName)"
                       Timeout="15"
                       EndSessionMessage="yes"
                       RebootPrompt="no"/>

    <WixVariable Id="WixUIBannerBmp" Value="$(var.ResourcesDir)\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ResourcesDir)\side.bmp" />

    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentGroupRef Id="OmnipasteFiles" />
      <ComponentRef Id="ApplicationShortcuts"/>
      <ComponentRef Id="ApplicationStartupEntry"/>
      <ComponentRef Id="MainApplicationFolder"/>
      <ComponentRef Id="ApplicationSettingsFolder"/>
    </Feature>
    
    <UIRef Id="OmnipasteUI_Minimal" />

    <InstallExecuteSequence>
      <Custom Action="WixCloseApplications" Before="InstallInitialize"/>
      <Custom Action="SetUninstallSettingsData" Before="ValidateProductID">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
      <Custom Action="SetIsCleanInstall" Before="CostFinalize">(NOT Installed) AND (NOT WIX_UPGRADE_DETECTED)</Custom>
      <Custom Action="SetAppToStart" After="CostFinalize"/>
      <Custom Action="SetStartAppArguments" After="CostFinalize"/>
      <Custom Action="AssignCustomActionDataForUnistallClickOnce" After="CostFinalize"/>
      <Custom Action="UninstallClickOnce" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="LaunchApplication" After="InstallFinalize">(NOT Installed) AND (NOT UI_RAN)</Custom>
    </InstallExecuteSequence>
	</Product>
</Wix>