<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)Includes\OmnipasteVariables.wxi ?>

  <Fragment>
    <UI Id="OmnipasteUI_Minimal">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      
      <DialogRef Id="NetFRWDlg" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="SetAppToStart" Order="1">NOT INSTALLED</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="SetStartAppArguments" Order="2">NOT INSTALLED</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication" Order="3">NOT INSTALLED</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <InstallUISequence>
        <Show Dialog="NetFRWDlg" After="AppSearch">
          (NOT Installed) AND (NOT DOTNETVERSION45FULL)
        </Show>
        <Custom Action="setUI_RAN" Before="ProgressDlg"/>
        <Show Dialog="ProgressDlg" After="NetFRWDlg"/>
      </InstallUISequence>

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>

    <UIRef Id="WixUI_Common" />
  </Fragment>
</Wix>